FollowTheTaskStats/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" />
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetUsersResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetUserByNameResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetManagersResult" nillable="true" type="q4:ArrayOfManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetManagerResult" nillable="true" type="q5:Manager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetWorkersResult" nillable="true" type="q6:ArrayOfWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkersForManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkersForManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetWorkersForManagerResult" nillable="true" type="q7:ArrayOfWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetWorkerResult" nillable="true" type="q8:Worker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetTrackedTasksResult" nillable="true" type="q9:ArrayOfTrackedTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTasksForManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTasksForManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetTrackedTasksForManagerResult" nillable="true" type="q10:ArrayOfTrackedTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetTrackedTaskResult" nillable="true" type="q11:TrackedTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetQuestsResult" nillable="true" type="q12:ArrayOfQuest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestsForWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestsForWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetQuestsForWorkerResult" nillable="true" type="q13:ArrayOfQuest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestsForTrackedTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackedTaskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestsForTrackedTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetQuestsForTrackedTaskResult" nillable="true" type="q14:ArrayOfQuest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.DataBase" minOccurs="0" name="GetQuestResult" nillable="true" type="q15:Quest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerModels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetManagerModelsResult" nillable="true" type="q16:ArrayOfManagerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetManagerModelResult" nillable="true" type="q17:ManagerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerModels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetWorkerModelsResult" nillable="true" type="q18:ArrayOfWorkerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerModelsForManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerModelsForManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetWorkerModelsForManagerResult" nillable="true" type="q19:ArrayOfWorkerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetWorkerModelResult" nillable="true" type="q20:WorkerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTaskModels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTaskModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetTrackedTaskModelsResult" nillable="true" type="q21:ArrayOfTrackedTaskModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTaskModelsForManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTaskModelsForManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetTrackedTaskModelsForManagerResult" nillable="true" type="q22:ArrayOfTrackedTaskModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTaskModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackedTaskModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetTrackedTaskModelResult" nillable="true" type="q23:TrackedTaskModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestModels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetQuestModelsResult" nillable="true" type="q24:ArrayOfQuestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestModelsForWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestModelsForWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetQuestModelsForWorkerResult" nillable="true" type="q25:ArrayOfQuestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestModelsForTrackedTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackedTaskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestModelsForTrackedTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetQuestModelsForTrackedTaskResult" nillable="true" type="q26:ArrayOfQuestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/FollowTheTask.ServiceModels.Models" minOccurs="0" name="GetQuestModelResult" nillable="true" type="q27:QuestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>